body{
    background-color: black;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: gray;
    border: 5px solid white;
    border-radius: 16px;
    width: 240px;
    height: 300px;
}
.display{
    border: 2px solid black;
    width: 200px;
    height: 100px;
    background-color: white;
    border-radius: 16px;
    margin: 10px;
    padding: 5px;
    text-align: end;
}
.numbers, .operator, .result, .clear, .backspace, .decimal{
    width:40px;
    height: 40px;
    margin: 2px 12px 2px 5px;
    border-radius: 8px;
}
.operator, .result, .clear, .backspace{
    background-color: lightblue;
}