body{
    background-color: gold;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border: 5px solid black;
    border-radius: 16px;
}